html,
body {
    width: auto!important;
    overflow-x: hidden!important
}

@media screen and (max-width:360px) {
    nav h1 {
        font-size: 1.5em !important;
    }
    .card_1 {
        margin: 5% 3% 5% 8% !important;
        width: 85% !important;
    }
    .card_2 {
        margin: 5% 3% 5% 8% !important;
        width: 85% !important;
    }
    #btn_2 {
        margin-left: 13% !important;
    }
    #btn_1 {
        margin-left: 15% !important;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .to {
        margin-left: 2%;
    }
    .to p {
        margin-bottom: 0em !important;
    }
    .from p {
        margin-bottom: 0em !important;
    }
    .from {
        margin-right: 0% !important;
        width: 43%;
    }
    .date {
        width: 43%;
        margin-left: 0%!important;
    }
    .date p {
        margin-bottom: 0em !important;
    }
    #sub {
        margin-top: 7% !important;
        margin-left: 3% !important;
    }
    .card {
        background-color: crimson !important;
        border: 4px solid darkslateblue !important;
    }
    .cards {
        width: 100%;
    }
    .fa-bars {
        font-size: 2em !important;
        margin-top: 41%;
    }
    .mid {
        width: 100% !important;
    }
    #bt1 {
        width: 50%;
        padding: 3px;
    }
    .tbl {
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .tbl th {
        padding: 7px 2px !important;
        font-size: 0.5em;
    }
    #fare_sec {
        position: static !important;
        margin: 0 !important;
        width: 100% !important;
    }
    #btnn_1 {
        width: 44% !important;
    }
    .tb_res {
        margin-top: 20% !important;
        font-size: 0.6em !important;
    }
    #datee {
        padding: 7px !important;
    }
    .tbl2_res {
        font-size: 7px !important;
    }
    .tbl2_res th,
    td {
        padding: 1px !important;
    }
    .tbl3_res th {
        padding: 8px !important;
    }
    .btn3 {
        margin-left: 12px !important;
    }
    #fare_sect {
        width: 100% !important;
        left: 0% !important;
        margin-top: 0% !important;
    }
    #btn4_1 {
        width: 45% !important;
    }
    #bt_1 {
        width: 45% !important;
    }
    #btn {
        width: 18% !important;
    }
    .div_card2,
    .div_card1 {
        width: 85% !important;
        margin: 3% 2% !important;
    }
    .htable {
        margin-top: 16% !important;
    }
    #alltrain_tb {
        margin-top: 15% !important;
        font-size: 0.3rem !important;
    }
    .table_hour {
        font-size: 0.4rem!important;
        margin-top: 5% !important;
    }
    #dis {
        margin-top: 17% !important;
    }
    .tby {
        font-size: 14.5px;
    }
    #mail_tbl td {
        font-size: 0.5em !important;
    }
}

@media only screen and( min-width:361px) and ( max-width:412px) {
    nav h1 {
        font-size: 1.5em !important;
    }
    .card_1 {
        margin: 5% 3% 5% 8% !important;
        width: 85% !important;
    }
    .card_2 {
        margin: 5% 3% 5% 8% !important;
        width: 85% !important;
    }
    #btn_2 {
        margin-left: 13% !important;
    }
    #btn_1 {
        margin-left: 15% !important;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .to {
        margin-left: 2%;
    }
    .to p {
        margin-bottom: 0em !important;
    }
    .from p {
        margin-bottom: 0em !important;
    }
    .from {
        margin-right: 0% !important;
        width: 43%;
    }
    .date {
        width: 43%;
        margin-left: 0%!important;
    }
    .date p {
        margin-bottom: 0em !important;
    }
    #sub {
        margin-top: 7% !important;
        margin-left: 3% !important;
    }
    .card {
        background-color: crimson !important;
        border: 4px solid darkslateblue !important;
    }
    .cards {
        width: 100%;
    }
    .fa-bars {
        font-size: 2em !important;
        margin-top: 41%;
    }
    .mid {
        width: 100% !important;
    }
    #bt1 {
        width: 50%;
        padding: 3px;
    }
    .tbl {
        margin-top: 2%;
        margin-bottom: 3%;
    }
    .tbl th {
        padding: 7px 2px !important;
        font-size: 0.7em;
    }
    #fare_sec {
        position: static !important;
        margin: 0 !important;
        width: 100% !important;
    }
    #btnn_1 {
        width: 44% !important;
    }
    .tb_res {
        margin-top: 20% !important;
        font-size: 0.6em !important;
    }
    #datee {
        padding: 7px !important;
    }
    .tbl2_res {
        font-size: 8px !important;
    }
    .tbl2_res th,
    td {
        padding: 1px !important;
    }
    .tbl3_res th {
        padding: 8px !important;
    }
    .btn3 {
        margin-left: 12px !important;
    }
    #fare_sect {
        width: 100% !important;
        left: 0% !important;
        margin-top: 0% !important;
    }
    #btn4_1 {
        width: 45% !important;
    }
    #bt_1 {
        width: 45% !important;
    }
    #btn {
        width: 18% !important;
    }
    .div_card2,
    .div_card1 {
        width: 85% !important;
        margin: 3% 2% !important;
    }
    .htable {
        margin-top: 16% !important;
    }
    #alltrain_tb {
        margin-top: 15% !important;
        font-size: 0.3rem !important;
    }
    .table_hour {
        font-size: 0.4rem!important;
        margin-top: 5% !important;
    }
    #dis {
        margin-top: 17% !important;
    }
    .tby {
        font-size: 14.5px;
    }
    #mail_tbl td {
        font-size: 0.5em !important;
    }
}